.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    /* background-color: rgb(251,251,255); */
    position: sticky;
    top: 50px;
    overflow-y: scroll; 
    /* background-color: #006A4D; */
}

.sidebarProductTitle{
    font-size: 22px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border: 1px solid #ced4da;
    border-bottom: none;
    color: white;
    /* font-weight: 600; */
}

.sideBarUnderline{
    width: 15%;
    margin-left: 150px;
    margin-top: 20px;
    border-bottom: 3px solid #74a61a;
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarSpaceWrapper{
    margin-top: 25px;
}

.sidebarMenu{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
    /* height:2000px;  */
}
.sidebarTitle{
    /* font-size: 13px; */
    font-size: 15px;
    font-weight: 600;
    color: white;
    /* color: rgb(187,186,186) */
}
.sidebarProductServices{
    width: 82%;
    margin-left: 39px;
    flex: 2;
    align-items: center;
}

.sidebarList{
    list-style: none;
    padding: 5px;
    margin-top: 40px;
}
.sidebarListItem{
    height: 50px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* border-radius: 10px; */
    border:1px solid darkgray;
    border-bottom: none;
}
.workNumberChangedPopup{
    flex: 1;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 320px;
    background-color: #025c69;
    margin-left: 40px;
    margin-top: 20px;
    color: white;
}
.workNumberChangedHalifax{
    /* flex: 1; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 300px; */
    width: 320px;
    background-color: #980073;
    margin-left: 40px;
    margin-top: 20px;
    color: white;
}
.sidebarListItemBorderBottom{
    border-bottom: 1px solid darkgray;
}
.sidebarLabel{
    align-items: center;
}
.sidebarListItem.active,
.sidebarListItem:hover
{
    /* background-color: rgb(241, 241, 249); */
    background-color: rgb(102, 104, 102);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

.workNumberWarningSection{
    display: flex;
    flex:1;
    justify-content: space-between;
    padding-top: 20px;
}

.workNumberWarningHalifax{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
}

.sidebarWarningIcon{
    flex: 1;
    /* align-items: stretch; */
    /* float: inline-end; */
    color: #01343d;
    padding-top: 10px;
    padding-left: 5px;
    transform: scale(3.0);
}
.sidebarWarningText{
    flex: 3;
    text-align: left;
    font-size: 25px;
    padding-left: 15px;
}

.sidebarWarningHalifaxText{
    flex: 3;
    text-align: left;
    font-size: 25px;
    padding-left: 15px;
}
.sidebarWarningText{
    flex: 3;
    text-align: left;
    font-size: 25px;
    padding-left: 15px;
    font-weight: bold;
}
.sidebarPhoneChangeText{
    flex: 1;
    text-align: left;
    font-size: 1.2em;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.sidebarRecognizeSection{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 40px;
    margin-left: -60px;
}
.sidebarRecognizeSection1{
    flex: 1;
    float: left;
}
.sidebarRecognizeSection2{
    flex: 1;
    float: left;
}
.sidebarRecognizeSection3{
    flex: 1;
    float: left;
}
.sidebarRecognizeSection4{
    flex: 1;
    float: left;
}
.loanFindoutHalifaxButton{
    color: white;
    background-color: #720056;
    width: 85%;
    height: 50px;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.closeIconHeader{
    display: flex;
    flex-direction: column;
}
.closeIconLeft{
    flex:1;
}
.closeIcon{
    flex:1;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    transform: scale(1.1);
    /* float: right; */
}