.lloydTextColor{
    color: #006A4D;
}

.halifaxTextColor{
    color: #0040BB;
}

.normalTextColor{
    color: #006A4D;
}

.lloydBGColor{
    background-color: #006A4D;
}

.halifaxBGColor{
    background-color: #0040BB;
}

.normalBGColor{
    background-color: #006A4D;
}
.lloydBorderOnPanel{
    border-top: 4px solid #006A4D;
}

.halifaxBorderOnPanel{
    border-top: 4px solid #0040BB;
}