.table-bordered {
  border: 5px double orange !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-xl-halifax {
  /* padding: 10px 20px; */
  font-size: 20px;
  border-radius: 10px;
  width: 20%;
  background-color: #007bff;
  color: #fff
}

.btn-xl-mbna {
  /* padding: 10px 20px; */
  font-size: 20px;
  border-radius: 10px;
  width: 20%;
  background-color: green;
  color: #fff
}

.gap {
  padding-top: 20px;
}

.container{
  display: flex;
  margin-top: 10px;
}


.link{
  text-decoration: none;
  color:inherit;
  /* background-color:rgba(255, 123, 0, 0.909) */
}

